:root {
    --strong-cyan: #26c0ab;
    --very-dark-cyan: #00494d;
    --dark-grayish-cyan: #5e7a7d;
    --grayish-cyan: #7f9c9f;
    --light-cyan: #9fe8df;
    --light-grayish-cyan: #c5e4e7;
    --very-light-grayish-cyan: #f4fafa;
    --white:#fff;
}